Flask==1.0.3
Flask-Cors==3.0.4
gunicorn==19.9.0
jsonpickle==1.0
jsonschema==2.6.0
numpy==1.16.2
numpydoc==0.8.0
request==1.0.2
requests==2.20.0
requests-toolbelt==0.7.0
nltk==3.2.5
tensorflow-gpu==2.7.2
